#root {
  width: 100vw;
  height: 100vh;
}

.second {
  position: absolute;
  width: 9em;
  transform-origin: 0 0;
  top: calc(50% - 1em);
  left: calc(50% - 1em);
  transform-origin: 6px 2px;
}

.minute {
  position: absolute;
  width: 7em;
  transform-origin: 0 0;
  top: calc(50% + 3em);
  left: calc(50% - 4em);
}

.hour {
  position: absolute;
  width: 5em;
  transform-origin: 0 0;
  top: calc(50% + 5em);
  left: calc(50% - 1em);
}